// mobile portrait (320x480) 
@include mq($from: mobile) {
  .jspager {
    .jspager_pagebtnholder {
      a {
        margin-top: 4px;
      }
    }

    .jspager_pagebtnholder,
    .jspager_totalpagesholder,
    .jspager_jumptopageholder,
    .jspager_perpageholder,
    .jspager_prevnextholder {
      text-align: center;
      margin-top: 4px;
    }

    .jspager_prevnextholder {
    .btn_prev,
    .btn_next,
    .btn_first,
    .btn_last {
        
      }
    }

    .jspager_jumptopageholder {
      width: auto;
      .jspager_jump {
        width: 20%;
      }
    }
  }
}

// *small tablet portrait (600x800)
@include mq($from: smallTabletPortrait) {
  .jspager {
    // width: 768px;    
    .jspager_pagebtnholder {
      a {
        margin-top: auto;
      }
    }

    .jspager_pagebtnholder,
    .jspager_totalpagesholder,
    .jspager_jumptopageholder,
    .jspager_perpageholder,
    .jspager_prevnextholder {
      display: inline-block;
      float: left;
      border: 1px solid #000;
      margin-top: auto;
    }

    .jspager_prevnextholder {
      
    }
  }

  .jspager_prevnextholder {
    span {
      display: none;
    }

  }

  .jspager_jump {
    width: 30%;
  }
}

// *tablet landscape (1024x768)
@include mq($from: tabletLandscape) {
  .jspager {
    .jspager_prevnextholder {
      span {
        display: inline-block;
      }
    }
  } 
}

// end breakpoints 

.jspager {
  .jspager_pagebtnholder,
    .jspager_totalpagesholder,
    .jspager_jumptopageholder,
    .jspager_perpageholder,
    .jspager_prevnextholder {
      @extend %padd--4;
    }

  .jspager_pagebtn {
      @extend %mp--0;
      @extend %btn_font--sans-serif;
      @extend %display--inline-block;
      @extend %padd--4;
      font-size: 100%; 
      line-height: 1.15;

      border: 1px solid #000;
      cursor: pointer;    
    }

    .jspager_pagebtn--active {
      background-color: green;
      color: #fff;
    }

    @extend %margin-top--4;
    // background-color: #ccc;

    p {
      @extend %display--inline-block;
      vertical-align: middle;
    }

    a {
      @extend %display--inline-block;
      height: 30px;
      vertical-align: middle;
    }

  .btn {
    height: 30px;
    vertical-align: middle;
  }

  .btn_prev,
  .btn_next,
  .btn_first,
  .btn_last {
    
    
    span {
      @extend %display--inline-block;
    }

    svg {
      @extend %display--inline-block;
      vertical-align: text-bottom;
      height: 18px;
    }
  }

  .btn_prev,
  .btn_first {
    svg {
      // display: inline-block;
      // margin-left: 2px;
    }
  }

  .btn_next,
  .btn_last {
    svg {
      // margin-right: -4px;
    }
  }

  .jspager_select,
  .jspager_perpage,
  .jspager_jump {
    @extend %padd--4;
    vertical-align: middle;
    height: 30px;
    border: 1px solid #000;
    background-color: #fff;
  }

}